.user {
  margin: 50px 0px;
}
.user__name {
  text-align: center;
  width: 30%;
  height: 30px;
  outline: none;
  padding: 0px;
  transition: transform 1s ease-in-out, width 1s ease-in-out,
    height 1s ease-in-out, border-radius 1s ease-in-out;
}
.user__name:focus {
  border: none;
  transform: translateY(50px);
  width: 50%;
  height: 50px;
  border-radius: 30px;
  outline: none;
}
.userName {
  font-size: 30px;
  margin-top: 20px;
}
