@import "clock.css";
@import "user.css";
@import "toDo.css";
@import "weather.css";
body {
  font-family: "Pangolin", cursive;
  height: 1000px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.clock,
.user,
.toDo,
.pending,
.finished,
.js-weather {
  display: flex;
  justify-content: center;
}

.user__name {
  border: none;
}
.none_showing {
  display: none;
}
.list {
  display: flex;
  justify-content: center;
}
